<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=dm-mono:400|dynapuff:700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <img src="/images/drawing.svg" alt="" width="866" height="468">
  {% block content %}{{ content | safe }}{% endblock %}
</body>
</html>