---
title: My Life in Weeks
layout: layouts/base
start_date: 1985-02-11
end_year: 2086
---
<article class="container flow">
  <header class="flow prose-width">
    <h1>{{ title | safe }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </header>

  <div class="life-weeks-table">
    {% for week in lifeInWeeks %}
      {# Set tooltips #}
      {% set tooltip = "Week " ~ (week.index) ~ " / " ~ week.date %}

      {% if week.events.length %}
        {% set tooltip = tooltip + "<br>" %}
        {% for event in week.events %}
          {% set tooltip = tooltip + event.icon + " " + event.title %}
          {% if not loop.last %}{% set tooltip = tooltip + "<br>" %}{% endif %}
        {% endfor %}
      {% endif %}

      {% if week.timespans.length %}
        {% set tooltip = tooltip + "<br>" %}
        {% for span in week.timespans %}
          {% set tooltip = tooltip + span.icon + " " + span.title %}
          {% if not loop.last %}{% set tooltip = tooltip + "<br>" %}{% endif %}
        {% endfor %}
      {% endif %}

      <div
        class="week-box{% if week.isPast %} past{% endif %}"
        data-tippy-content="{{ tooltip | safe }}"
        tabindex="0"
      >
        {% for event in week.events %}
          {% if not event.hide_from_grid %}
            <span class="event-icon">{{ event.icon }}</span>
            <span class="event-title">{{ event.title }}</span>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</article>

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    tippy('.week-box', {
      allowHTML: true,
      placement: 'top',
      theme: 'light-border',
    });
  });
</script>
