:root {
  --color-dark-green: #3f6846ff;
  --color-light-green: #008955ff;
  --color-yellow: #ffeb01ff;
  --color-dark-blue: #0150f3ff;
  --color-blue: #a1c8f8ff;
  --color-light-blue: #deebfbff;
  --color-orange: #ff8402ff;
  --color-light-orange: #fcb271ff;
  --color-salmon: #ff653fff;
  --color-tan: #f5dabfff;
  --color-white: #f2edf4;
  --color-brown: #633528;
}

body {
  min-height: 100vh;
  background-color: var(--color-white);
  background-image: url('/images/border--top.svg');
  background-size: calc(100% + 14em) auto;
  background-position: top -3em left -2em;
  background-repeat: no-repeat;
  color: var(--color-brown);
  margin: 0;
  padding: 3em;
  font-size: 1.5rem;
  font-family: 'DM Mono', monospace;
}

body > * {
  max-width: 100ch;
  margin-inline: auto;
}

h1 {
  font-size: 10rem;
  margin-block: 0;
  margin-block-start: -5rem;
  font-family: 'Dynapuff', sans-serif;
}

p {
  max-width: 70ch;
}

a {
  color: currentColor;
  color: var(--color-dark-green);
}

a:visited {
  color: var(--color-dark-green);
}

a:hover {
  color: var(--color-dark-blue);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.life-weeks-table {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.week-box {
  height: 1.5rem;
  min-width: 1.5rem;
  padding: 4px 8px;
  border: 2px solid var(--color-blue);
  border-radius: var(--s02, 0.5rem);
  background-color: var(--color-light-blue);
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  cursor: default;
  white-space: nowrap;
  transition: background-color 0.2s ease;
}

.week-box.past {
  border-color: var(--color-light-orange);
  background-color: var(--color-tan);
}

.week-box:hover {
  background-color: var(--color-yellow);
}

.event-icon {
  flex-shrink: 0;
  font-size: 1.1em;
}

.event-title {
  white-space: nowrap;
}
